.featured-product {
  .fp-top {
    h1 {
      color: $color-black;
      font-weight: 700;
      font-size: Size 32px;
      margin: 0px 0px 30px;
    }
    .fp-image-container {
      position: relative;
      .fp-label {
        position: absolute;
        bottom: 0;
        left: 0;
        color: $color-black;
        background-color: $color-white;
        font-size: 20px;
        font-weight: 700;

        padding: 15px 38px;
        @include breakpoint(tablet-lg) {
          padding: 20px 60px;
        }
      }
    }
  }
  .fp-bottom {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    h2 {
      color: $color-black;
      font-weight: 700;
      font-size: 22px;
    }
    p {
      color: $color-darkGray;
      font-size: 18px;
      line-height: 27px;
      font-weight: 400;
    }
    .fpb-description {
      max-width: 690px;
      span {
        color: $color-darkGray;
        font-weight: 700;
        font-size: 22px;
        display: block;
      }
    }
    .fpb-relatedProducts {
      display: flex;
      flex-direction: column;
      text-align: right;
      .fpb-recommendedProducts {
        img {
          display: block;
          margin-left: 30px !important;
          cursor: pointer;
        }
      }
      .pfb-details {
        p {
          font-size: 18px;
          margin: 0px;
        }
      }
    }
  }
}
