.products-list {
  padding: 20px 0;
  .pl-header {
    h1 {
      font-size: 18px;
      line-height: 20px;
      font-weight: 700;
      color: $color-black;
      @include breakpoint(tablet-lg) {
        font-size: 30px;
        line-height: 33px;
      }
      span {
        font-weight: 400;
        color: $color-mediumGray;
      }
    }
    .products-sorting {
      p {
        font-size: 22px;
        line-height: 24px;
        color: $color-mediumGray;
        span {
          position: relative;
          left: -2px;
          cursor: pointer;
        }
      }
      .sorting-dropdown {
        .btn {
          background: none;
          border: none;
          outline: none;
          color: $color-black;
          font-size: 22px;
          line-height: 24px;
          position: relative;
          top: -12px;
          &:focus {
            box-shadow: none;
          }
          &::after {
            border: none;
            background: url(../../assets/caretRight.svg);
            color: transparent;
            background-repeat: no-repeat;
            background-position: center;
            transform: rotate(90deg);
            width: 20px;
            height: 20px;
            position: relative;
            top: 10px;
          }
        }
      }
    }
  }
}
