.products-list {
  padding: 20px 0;
  .pl-header {
    h1 {
      font-size: 18px;
      line-height: 20px;
      font-weight: 700;
      color: $color-black;
      @include breakpoint(tablet-lg) {
        font-size: 30px;
        line-height: 33px;
      }
      span {
        font-weight: 400;
        color: $color-mediumGray;
      }
    }
    .products-sorting {
      p {
        font-size: 22px;
        line-height: 24px;
        color: $color-mediumGray;
        span {
          position: relative;
          left: -2px;
          cursor: pointer;
        }
      }
      .sorting-dropdown {
        .btn {
          background: none;
          border: none;
          outline: none;
          color: $color-black;
          font-size: 22px;
          line-height: 24px;
          position: relative;
          top: -12px;
          &:focus {
            box-shadow: none;
          }
          &::after {
            border: none;
            background: url(../../assets/caretRight.svg);
            color: transparent;
            background-repeat: no-repeat;
            background-position: center;
            transform: rotate(90deg);
            width: 20px;
            height: 20px;
            position: relative;
            top: 10px;
          }
        }
      }
      .filters-button {
        border: none;
        outline: none;
        background: $color-white;
        &:focus {
          box-shadow: none;
        }
      }
    }
  }
}

// offcanvas styling
.offcanvas {
  width: 100vw;
  .offcanvas-title {
    font-size: 34px;
    line-height: 37px;
  }
  .offcanvas-body {
    overflow-y: scroll;
    height: calc(100vh - 166px);
    position: relative;
  }
  .buttons-group {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 104px;
    border-top: 4px solid #e4e4e4;
    display: flex;
    justify-content: space-around;
    align-items: center;
    button {
      position: relative;
      font-size: 23px;
      line-height: 25px;
      text-align: center;
      letter-spacing: 0.07em;
      font-weight: 500;
      cursor: pointer;
      padding: 8px 54px;
    }
    .save-button {
      color: $color-white;
      background: $color-black;
      border: 3px solid $color-black;
    }
    .clear-button {
      color: $color-black;
      background: $color-white;
      border: 3px solid $color-black;
    }
  }
}
